{
  "rules": {
    "no-control-regex": "off",
    "no-console": "error",
    "no-case-declarations": "off",
    "comma-style": ["error", "last"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "ai": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "root": true
}
