node_modules/

src/
test/
.eslintrc
.editorconfig
jsconfig.json
kiki.config.json
*.log
rollup.config.js
tsconfig.json
tslint.json
typings.json
typings/
coverage/
.nyc_output/
.vscode/
__tests__/
tmp/
.travis.yml
